header{
    background-color: #00008b;
    height: 80px;
}

body{
    font-family: serif;
    background-color: beige;

   
}
h1{
    color:#ff0000;
}


#logo{
    font-family:  sans-serif;
    float: left;
    color:#ff0000;
    
    
}
#navmenu{
    list-style-type: none;
    float: right;
    
    
    
}
#navmenu li{
    float: right;
    letter-spacing: 3px;
    margin-right: 25px;
    
    
}
#navmenu li a{
    display: block;
    text-decoration: none;
    color:#ff0000;
    font-weight: 800;

}
#hero{
    width: 100%;
    height: 800px;
    background-image: url("images/locksmith1.jpg");
    background-repeat: no-repeat;
    
}


.about-column{
    float: left;
    width: 33%;
    height: 150px;
    background-color: #00008b;
    color: white;
}



h3{
    color: #800062;
}
.faq-sec{
    background-color: #00008b;
}
footer{
    background-color: #00008b;
}
